.about{
    position: absolute;
    top: 20vh;
    width: 64vw;
    height: 80vh;
    padding-left: 35px;
    padding-bottom: 35px;
}

.aboutme{
    font-weight: 700;
    padding-bottom: 35px;
    text-align: justify;
}

.aboutgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 75%;
    width: 100%;
    gap: 35px; 
}

/* .left-top {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
} */

.left-top {
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px;
}

.left-bottom {
    grid-column: 1;
    grid-row: 2;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.right-full {
    position: relative;
    display: flex;
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: black;
    padding: 20px;
}

/* .ab{
    background: url('../images/back.gif') center / cover no-repeat;
    overflow: hidden;
    border-radius: 20px;
    color: rgb(197, 197, 197);
}

.edh{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ed{
    text-align: center;
    background-color: rgba(105, 105, 105, 0.296);
    padding: 15px;
    border-radius: 8px;
    font-weight: 500;
} */

.ab {
    background: url('../images/back.gif') center / cover no-repeat;
    overflow: hidden;
    border-radius: 20px;
    color: rgb(197, 197, 197);
}

.edh {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1px;
    gap: 15px;
}

.ed {
    text-align: center;
    background-color: rgba(105, 105, 105, 0.2);
    padding: 1px;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hby{
    height: 4vh;
}

.histhead{
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 31;
}

.fade{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 30;
    bottom: 0;
    height: 15vh;
}

.his{
    position: absolute;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    gap: 15px;
    top: 8.5vh;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 20;
    padding-left: 35px;
    padding-right: 35px;
    scrollbar-width: none;
    color: rgb(197, 197, 197);
}

.his::-webkit-scrollbar {
    display: none; 
}

.event {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(105, 105, 105, 0.2);
    border-radius: 5px;
}

.year {
    background: linear-gradient(to right,#8c8c8c, #acacac, #e3e3e3, #acacac, #747474);
    width: 120px;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 3vw;
    white-space: nowrap;
    color: black;
    border-right: rgb(47, 255, 64) solid 3px;
}

.desc{
    text-align: center;
}

.scrol{
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
}

@media (max-width: 1000px) {
    .about{
        top: 17vh;
        height: 83vh;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .aboutme{
        font-size: 10px;
        padding-bottom: 20px;
    }
    .aboutgrid {
        display: flex;
        flex-direction: column;
        height: 70%;
        gap: 1.4vh;
    }
    .left-top {
        height: 25%;
        padding: 10px;
        gap: 8px;
    }
    .left-bottom {
        height: 25%;
        padding: 10px;
        gap: 8px;
    }
    .right-full {
        height: 50%;
    }
    .ab{
        border-radius: 10px;
        font-size: 1.3vh;
    }
    .edh{
        font-size: 1.3vh;
        gap: 5px;
    }
    .ed{
        padding: 4px;
        border-radius: 5px;
    }
    .hby{
        height: 2vh;
    }
    .histhead{
        gap: 5px;
        top: 1.5vh;
    }
    .his{
        top: 5vh;
        padding-left: 10px;
        gap: 10px;
        padding-right: 10px;
    }
    .fade{
        height: 5vh;
    }
    .event{
        font-size: 1.3vh;
    }
    .year{
        max-width: 16vw;
        margin-right: 0;
    }
    .desc{
        width: 70%;
    }
    .scrol{
        bottom: 5px;
    }
}
