.s{
    position: relative;
    width: 100vw;
}

.sc{
    position: relative;
    height: 100vh;
    background: linear-gradient(to right,#8c8c8c, #acacac, #e3e3e3, #acacac, #747474, #000000);
}

.toprail{
    position: absolute;
    top: -1px;
    right: 0;
    height: 10vh;
    width: auto;
    z-index: 201;
}

.bottomrail{
    position: absolute;
    bottom: -1px;
    right: 0;
    height: 10vh;
    width: auto;
    transform: scaleY(-1);
    z-index: 201;
}

.tracks{
    position: absolute;
    height: 100vh;
    width: auto;
    right: 0;
    z-index: 201;
}

.blackbase{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: black;
    z-index: 201;
}

.liftcontent{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45vh;
    z-index: 100;
}

.lift{
    position: absolute;
    right: 1.7vw;
    width: 70%;
    height: auto;
}

.man{
    position: relative;
    width: 55%;
    height: auto;
    z-index: -100;
    transition: transform 1.5s ease;
}

.sector-header {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  margin-top: 35px;
  margin-left: 35px;
  line-height: 0.8;
  width: 60vw;
}

.sector-label {
  font-size: 5rem;
  font-weight: 900;
  color: #000;
}

.about-label {
  font-size: 2rem;
  font-weight: 900;
  padding: 2vh;
  background-color: #000;
  border-radius: 10px;
  color: #cbcbcb;
}

@media (max-width: 1000px){
    .toprail, .bottomrail{
        width: 40vw;
        height: 5vh;
    }
    .blackbase{
        height: 5vh;
    }
    .tracks{
        width: 7vw;
        height: 100vh;
    }
    .liftcontent{
        width: 30vw;
        right: 3vw;
    }
    .man{
        left: 2vw;
        width: 45%;
    }
    .lift{
        width: 60%;
    }
    .sector-header {
      flex-direction: column;
      align-items: baseline;
      gap: 15px;
      margin-top: 15px;
      margin-left: 20px;
      width: auto;
    } 
    .sector-label {
      font-size: 2rem;
    }
    .about-label {
      font-size: 0.8rem;
      padding: 2vh;
      width: 100%;
      text-align: center;
    }
}